@import "../../variables";

footer {
  width: 100%;
  height: $footer-height + px;
  @include flex-line-spacebetween-vertical-center;
  @include user-select-none;
  background-color: $footer-background-color;
  color: $secondary-theme-color;

  .footer-authors {
    width: 100%;
    @include flex-all-center;
    gap: 15px;
  }

  .footer-logo-year {
    width: 100%;
    @include flex-all-center;
    gap: 15px;

    .rsschool-footer-link {
      height: 20px;
      width: 50px;
      background-image: url(../../assets/img/rs_school_js.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
}