@import "../../../../variables";

.external-wrapper {
  width: $product-item-width + px;
  height: $product-item-height + px;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #eee;
  transition-property: border-color, transform;
  transition-timing-function: linear;
  transition-duration: 0.5s;

  .add-to-cart-button {
    width: 60px;
    height: 25px;
    @include flex-all-center;
    position: absolute;
    bottom: 0;
    right: -27px;
    background-color: #fff;
    border: 2px solid #000;
    cursor: pointer;

    img {
      width: 35%;
      height: auto;
    }

    span {
      color: brown;
    }
  }

  .out-out-stock-container {
    width: 100%;
    height: 30px;
    @include flex-all-center;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;

    .out-of-stock-paragraph {
      width: 100%;
      text-align: center;
      color: deeppink;
      font-size: 14px;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
    }
  }

  &.list-view {
    width: 65%;
    margin: 0 auto;

    .add-to-cart-button {
      @include flex-all-center;
      position: absolute;
      bottom: 6px;
      right: 6px;
      background-color: #fff;
      border: 2px solid #000;
      cursor: pointer;

      img {
        width: 35%;
        height: auto;
      }
    }

    .out-out-stock-container {
      width: 100%;
      height: 30px;
      @include flex-all-center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: #fff;

      .out-of-stock-paragraph {
        width: 100%;
        text-align: center;
        color: deeppink;
        font-size: 14px;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
      }
    }
  }

  .product-item-wrapper {
    width: 100%;
    height: 100%;
    @include user-select-none;
    position: relative;
    cursor: pointer;

    &:not(.list-view) {
      @include flex-column-line-center-vertical-spacebetween;
    }

    .name-paragraph {
      color: green;
    }

    .poster-wrapper {
      width: 65%;

      &.poster-out-of-stock {
        opacity: 0.4;
      }

      .poster {
        width: 100%;
        height: auto;
      }
    }

    .price-paragraph {
      color: yellowgreen;
    }

    &.list-view {
      width: 100%;
      height: $product-item-height-list + px;
      @include flex-line-start-vertical-center;
      gap: 10px;
      border-radius: 10px;
      padding: 3px;

      .name-paragraph {
        color: yellowgreen;
      }

      .poster-wrapper {
        width: auto;
        height: 100%;

        .poster {
          width: auto;
          height: 100%;
        }
      }

      .price-paragraph {
        color: deeppink;
      }

      .add-to-cart-button {
        @include flex-all-center;
        position: absolute;
        bottom: 3px;
        right: 3px;
        background-color: #fff;
        border: 2px solid #000;
        cursor: pointer;

        img {
          width: 35%;
          height: auto;
        }
      }
    }
  }
}


@media (hover: hover) {
  .external-wrapper:not(.list-view):hover {
    transform: translateY(-5px) translateX(-5px) scale(1.05);
  }

  .external.list-view:hover {
    border-color: darkorchid;
  }
}