@import "../../../../variables";

.external-wrapper {
  width: $product-item-width + px;
  height: $product-item-height + px;
  position: relative;
  border: 2px solid $main-theme-color;
  border-radius: 15px;
  background-color: $product-item-background-color;
  transition-property: border-color;
  transition-timing-function: linear;
  transition-duration: 0.2s;

  .add-to-cart-button {
    width: 100%;
    height: 30px;
    @include flex-all-center;
    position: absolute;
    top: 30px;
    right: 0;
    background-color: #fff;
    border: 2px solid #000;
    border-right: none;
    border-left: none;
    cursor: pointer;

    img {
      width: auto;
      height: 95%;
    }

    span {
      color: darkmagenta;
    }
  }

  .out-out-stock-container {
    width: 100%;
    height: 30px;
    @include flex-all-center;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #fff;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

    .out-of-stock-paragraph {
      width: 100%;
      text-align: center;
      color: deeppink;
      font-size: 14px;
    }
  }

  &.list-view {
    width: 60%;
    height: auto;
    margin: 0 auto;
    border-radius: 12px;

    .add-to-cart-button {
      width: 80px;
      @include flex-all-center;
      position: absolute;
      bottom: 6px;
      right: 0;
      background-color: #fff;
      border: 2px solid #000;
      border-right: none;
      cursor: pointer;

      img {
        width: auto;
        height: 85%;
      }
    }

    .out-out-stock-container {
      width: 100%;
      height: 25px;
      @include flex-all-center;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba($color: #fff, $alpha: 0.7);
      border-top: none;
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom: 1px solid #000;

      .out-of-stock-paragraph {
        width: 100%;
        text-align: center;
        color: deeppink;
        font-size: 14px;
      }
    }
  }

  .product-item-wrapper {
    width: 100%;
    height: 100%;
    @include user-select-none;
    position: relative;
    cursor: pointer;

    &:not(.list-view) {
      @include flex-column-line-center-vertical-spacebetween;
    }

    .name-paragraph {
      color: grey;
      z-index: 1;
    }

    .poster-wrapper {
      width: 65%;

      .poster {
        width: 100%;
        height: auto;
        transition-property: transform;
        transition-timing-function: linear;
        transition-duration: 0.3s;
      }
    }

    .price-paragraph {
      color: grey;
    }

    &.list-view {
      width: 100%;
      height: $product-item-height-list + px;
      @include flex-line-start-vertical-center;
      gap: 10px;
      border-radius: 10px;
      padding: 3px;

      .name-paragraph {
        width: 110px;
        color: grey;
      }

      .poster-wrapper {
        width: auto;
        height: 100%;

        .poster {
          width: auto;
          height: 100%;
        }
      }

      .price-paragraph {
        color: grey;
      }
    }
  }
}


@media (hover: hover) {
  .external-wrapper:not(.list-view):hover {
    .product-item-wrapper {
      .poster-wrapper {
        .poster {
          transform: scale(1.17);
        }
      }
    }

  }

  .external-wrapper.list-view:hover {
    border-color: darkorchid;
  }
}